{% extends "base.html" %}

{% block title %}Climbing{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/climbing.css') }}">
{% endblock %}

{% block content %}
<h2>Climbing</h2>
<div class="Ronimine" >
    <p>
        Ronimine (EN climbing) on füüsiline ja vaimne spordiala, mille käigus ronitakse mööda kaljuseinu, tehisseinu või looduslikel moodustustel, kasutates jõudu ja lahendades radu kui puslesid.
    </p>
    <p>Ronimist saab mitmel viisil harrastada:</p>
    <ol>
        <li>Bouldering: madalad seinad (4-5m), ilma abivahenditeta. Keskendub peamiselt lühikestele ja jõulistele liigutustele.</li>
        <li>Sportronimine: Köitega ronimine, eesmärgiks on läbida kindel rada, kasutades füüsilist jõudu ja vastupidavust.</li>
        <li>Kiirronimine: Võistluse stiilis ronimine, selle jaoks on standardiseeritud rada.</li>
    </ol>
</div>
<div class="upload-container">
    <div class="upload-square" id="drop-zone" onclick="document.getElementById('file-input').click()">
        <input type="file" id="file-input" accept="image/*">
        <img id="preview-image" class="preview-image" src="" style="display: none;">
        <div class="upload-text" id="upload-text">Click or drag image here</div>
    </div>
    
    <div class="form-container">
        <input type="text" id="text-input" class="text-input" placeholder="Enter text here">
        <button id="submit-button" class="submit-button">Submit</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/image_upload.js') }}"></script>
{% endblock %}